@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$medium-screen: em(640);
$large-screen: em(860);

$screen-mobile: 400px;
$screen-phablet: 550px;
$screen-tablet: 750px;
$screen-desktop: 1000px;
$screen-desktophd: 1200px;

$mobile-up: new-breakpoint(min-width $screen-mobile);
$phablet-up: new-breakpoint(min-width $screen-phablet);
$tablet-up: new-breakpoint(min-width $screen-tablet);
$desktop-up: new-breakpoint(min-width $screen-desktop);
$desktophd-up: new-breakpoint(min-width $screen-desktophd);

$small-screen-up: $phablet-up;
$medium-screen-up: $tablet-up;
$large-screen-up: $desktop-up;
